.box {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100vw;
  min-height: 60px;
  padding: 20px 40px;
  background-color: white;

  box-shadow: 0 2px 2px 0 rgb(128, 128, 128);

  .link {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
  }
  .active {
    color: red;
  }
}
